@CHARSET "UTF-8";
table.message{margin:10% auto 0px auto; padding:3px; border-collapse:collapse; border:1px solid gray; text-align:center; width:55%}
table.error{margin:12px 0px; border-collapse:collapse; border:2px groove #d4d4d4; padding:5px; text-align:left; line-height:165%; width:90%}
table td.topTd{background:url(../Images/bgline.gif) repeat-x; border-bottom:1pt solid gray}
table td.bottomTd{background:url(../Images/bgline.gif) repeat-x; border-bottom:1pt solid gray}
table th{background:#cdd}
table thead th{border-left:1px solid #cdd; background-color:#dee; background-image:url(../Images/bgcolor.gif); color:#899}
 table.message th, 
 table.message td, 
  table.select th, 
 table.select td, 
  table.order th, 
 table.order td, 
  table.error th, 
 table.error td, 
   table.login th, 
 table.login td, 
 table.list th, 
 table.list td{border-left:1px solid silver; border-bottom:1px solid silver; vertical-align:top; padding:3px}

table th.active, td.active{background-color:#CFC}
table tr.row{background-color:#FFF}
