#ribbon{position:absolute;z-index:500;}
#slides{position:absolute;z-index:100;border:10px solid #d5d5d5;-moz-border-radius:10px;-webkit-border-radius:10px;}
.slides_container{width:364px;height:290px;overflow:hidden;position:relative;}
.slides_container img{width:364px;height:290px;}
.pagination{position:absolute;right:5px;top:5px;z-index:999;}
.pagination li{float:left;margin-left:5px;background:#f3f3f3;}
.pagination li a{padding:4px;}
.pagination .current a{color:red;}
.caption{position:absolute;height:30px;padding:5px 20px 0 20px;background:#000;background:rgba(0,0,0,.5);width:660px;font-size:14px;color:#fff;border-top:1px solid #000;text-shadow:none;}
